body {
  font-family: 'Roboto', sans-serif;
}

.ui-container {
  width: 80%;
  margin: auto;
}

.ui-container h1.title {
  text-align: center;
}

.ui-container .left {
  float: left;
  width: 80%;
}

.ui-container .left .text {
  padding-right: 20px;
}

.ui-container .left .text p {
  text-align: justify;
  font-size: 20px;
  line-height: 28px;
}

.ui-container .right {
  float: right;
  width: 20%;
}

.ui-container .right .key h2.title {
  text-align: center;
}

.ui-container .right .key ul {
  width: 100%;
  padding-left: 0px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  list-style-type: none;
}

.ui-container .right .stats h2.title {
  text-align: center;
}

.ui-container .all-codes {
  clear: both;
}

.ui-container .all-codes .tabs .list li a {
  font-family: 'Roboto', sans-serif;
  color: black !important;
}

.ui-container .all-codes .tabs .list li.ui-tabs-tab {
  border: none;
}

.ui-container .all-codes .tabs .list li.ui-state-active {
    border-width: 1px;
    border-color: rgba(10,10,10,0.6) !important;
    border-style: solid;
}
